
.DisplayFacts {
    display: flex;
    margin-top: 55px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.DisplayFacts .leftSide {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;
}

.DisplayFacts .rightSide {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5rem;
    text-align: center;
}

.DisplayFacts .leftSide img {
    max-width: 600px;
    max-height: 500px;
}